 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 858px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 55px 0 0;
}

.u-section-1 .u-text-2 {
  width: 880px;
  margin: 56px auto 55px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 740px;
  }

  .u-section-1 .u-text-2 {
    width: 680px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 492px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-2 .u-image-1 {
  min-height: 492px;
  background-image: url("images/vplabpurecreatine.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 514px;
  --color-var: #00a8ff;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 17px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin: 72px 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 366px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 406px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 424px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 280px;
  }

  .u-section-2 .u-image-1 {
    min-height: 311px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 520px;
  }

  .u-section-2 .u-image-1 {
    min-height: 467px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 364px;
  }

  .u-section-2 .u-image-1 {
    min-height: 294px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 520px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 545px;
  --color-var: #00a8ff;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 39px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-2 {
  margin: 39px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 520px;
  background-image: url("images/undergroundbansheepossessed.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 429px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 449px;
  }

  .u-section-3 .u-image-1 {
    min-height: 429px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 329px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 329px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 594px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 494px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 411px;
  }

  .u-section-3 .u-image-1 {
    min-height: 311px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 492px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-4 .u-image-1 {
  min-height: 492px;
  background-image: url("images/smartbrothersphenibut.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 565px;
  --color-var: #00a8ff;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 22px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-2 {
  margin: 62px 0 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 366px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 406px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 466px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 280px;
  }

  .u-section-4 .u-image-1 {
    min-height: 311px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 520px;
  }

  .u-section-4 .u-image-1 {
    min-height: 467px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 364px;
  }

  .u-section-4 .u-image-1 {
    min-height: 294px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 520px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 545px;
  --color-var: #00a8ff;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 36px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-2 {
  margin: 53px 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 520px;
  background-image: url("images/ultravitwomensmultivitaminformula.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 429px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 449px;
  }

  .u-section-5 .u-image-1 {
    min-height: 429px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 329px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    min-height: 329px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 594px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 494px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 411px;
  }

  .u-section-5 .u-image-1 {
    min-height: 311px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 70px;
}

.u-section-6 .u-text-1 {
  width: 685px;
  margin: 17px auto;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  color: rgba(0, 0, 0, 0);
  --text-color-var: #00a8ff;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }
} .u-section-7 {
  min-height: 520px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-image-1 {
  min-height: 404px;
  background-image: url("images/germanmedicoibutamoren.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  min-height: 404px;
  background-image: url("images/germanmedicorad140.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  min-height: 404px;
  background-image: url("images/germanmedicoperformancepct.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-4 {
  min-height: 404px;
  background-image: url("images/germanmedicogenodrol.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 378px;
  }

  .u-section-7 .u-image-1 {
    min-height: 333px;
  }

  .u-section-7 .u-image-2 {
    min-height: 333px;
  }

  .u-section-7 .u-image-3 {
    min-height: 333px;
  }

  .u-section-7 .u-image-4 {
    min-height: 333px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 222px;
  }

  .u-section-7 .u-image-1 {
    min-height: 255px;
  }

  .u-section-7 .u-image-2 {
    min-height: 255px;
  }

  .u-section-7 .u-image-3 {
    min-height: 255px;
  }

  .u-section-7 .u-image-4 {
    min-height: 255px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 1244px;
  }

  .u-section-7 .u-image-1 {
    min-height: 383px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    min-height: 383px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    min-height: 383px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-4 {
    min-height: 383px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 676px;
  }

  .u-section-7 .u-image-1 {
    min-height: 241px;
  }

  .u-section-7 .u-image-2 {
    min-height: 241px;
  }

  .u-section-7 .u-image-3 {
    min-height: 241px;
  }

  .u-section-7 .u-image-4 {
    min-height: 241px;
  }
} .u-section-8 {
  min-height: 500px;
}.u-section-9 .u-sheet-1 {
  min-height: 1008px;
}

.u-section-9 .u-custom-html-1 {
  min-height: 1008px;
  height: auto;
  width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-custom-html-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-custom-html-1 {
    width: 340px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 400px;
}

.u-section-10 .u-custom-html-1 {
  margin-bottom: 60px;
}.u-section-11 .u-sheet-1 {
  min-height: 720px;
}

.u-section-11 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 0;
}.u-section-12 .u-sheet-1 {
  min-height: 400px;
}

.u-section-12 .u-custom-html-1 {
  margin-bottom: 60px;
}